<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/css/admin.css">
    <style>
        body {
            background: rgb(2, 0, 36);
            background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
        }
    </style>
</head>

<body>
    <header>
        <h1>Admin log in</h1>
        <a href="/">Go back</a>
    </header>
    <div class="login">
        <form action="/forgot" method="post">
            <input type="text" placeholder="Enter Username" name="usr" id="usr" required>
            <input type="password" name="pass" id="pass" placeholder="Enter new password" required>
            <input type="submit" value="Change Password">
        </form>
    </div>
</body>

</html>