<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data</title>
    <link rel="stylesheet" href="/css/show.css">
</head>

<body>
<main id="main">
    <div class="insert-btn">
        <a href="/inde/showdata/votes" class="btn">Show votes</a>
        <a href="/inde/showdata/voters" class="btn">Show voters</a>
        <a href="/inde/showdata/party" class="btn">Show Parties</a>
        <a href="/inde/showdata/center" class="btn">Show voting centers</a>
        <a href="/inde/showdata/candidate" class="btn">Show Candidates</a>
        <a href="/admin" class="btn" id="signout">Sign out</a>
        <a href="/inde" class="btn">Go Back</a>
    </div>
</main>
</body>

</html>